/*Корзина*/
.cartContainer {
  border: 2px solid #e5e7ec;
  border-radius: 10px;
}

.cartBlock {
  border: 1px solid #e5e7ec;
}

.img {
  border-radius: 10px;
}

.trashCart {
  cursor: pointer;
}
/*Корзина*/

.Cartbutton {
  height: 40px;
  width: 140px;
  background-color: #4D689C;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0;
  border-radius: 5px;
}

.Cartbutton:hover {
  background-color: #e75413;
}

