/*Контейнер*/

.navbar {
  background-color:#4D689C;
}


/*Контейнер*/

/*Блок*/

.block {
  display: block;
  color: #fff;
  width: 150px;
  font-size: large;
  cursor: pointer;
}

.block:hover {
  color: #fff;
}

/*Блок*/


